.iconImg {
    width: 50px;
    height: 50px;
}

.img {
    width: 150px;
    height: 125px;
}

.bug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #6AD600;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bug:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #6AD600;
}

.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #5D4F66;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.dark:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #5D4F66;
}

.dragon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #005ECC;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.dragon:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #005ECC;
}

.electric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #FDDB00;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.electric:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #FDDB00;
}

.fairy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #FF52EC;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.fairy:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #FF52EC;
}

.fighting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #F10066;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.fighting:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #F10066;
}

.fire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #FF9033;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.fire:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #FF9033;
}

.flying {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #88A5E5;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.flying:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #88A5E5;
}

.ghost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #4D5BB4;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.ghost:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #4D5BB4;
}

.grass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #00D34A;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.grass:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #00D34A;
}

.ground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #F56126;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.ground:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #F56126;
}

.ice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #00DDC2;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.ice:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #00DDC2;
}

.normal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #919BA3;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }


.normal:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #919BA3;
}

.poison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #C42BD0;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }


.poison:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #C42BD0;
}

.psychic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #FF2F72;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.psychic:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #FF2F72;
}

.rock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #CABB85;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.rock:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #CABB85;
}

.steel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #4F90A4;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.steel:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #4F90A4;
}

.water {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    font-size: 1rem;
    color: rgb(238, 227, 227);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border: 0.25rem solid #1F8ADF;
    border-radius: 10px;
    transition: all 500ms;
    overflow: hidden;
    height: 22rem;
    width: 100%;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.water:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: #1F8ADF;
}

.imageBackground{
    background-color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

}

.cardTipos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.nome {
    text-transform: capitalize; 
    color: black;
}

.type {
    color: black;
    
}