.img {
    width: 80px;
    height: 80px;
}

.topNav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 85%;
    background-color: black;
    width: 100%;
    height: 8vh;
    z-index: 1;
    /*z index 11*/
}

.portrait {
    height: max-content;
    vertical-align: middle;   
    margin-left: 5rem;
    float: left;
}

.singularNav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    opacity: 85%;
    background-color: black;
    width: 100%;
    height: 10vh;
    z-index: 1;
    /*z index 11*/
}