.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);
    height: 3rem;
    border-radius: 0.3rem;
    padding: 0rem 0rem 0rem 1rem;
    width: 50%;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.searchBox:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
 
}

.inputBox {
    width: 75%;
}

.buttonBox {
    width: 25%;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 0.85rem;
    transition: 0.4s;
    width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.searchButton{
    cursor: pointer;
    color: rgb(0, 0, 0);
    float: right;
    border: 2px solid rgb(0, 0, 0);
    width: 6rem;
    margin-right: 0;
    height: 3rem;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    background: rgb(255, 255, 255);
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.searchButton:hover {
    transition: 0.3s;;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}