.mainDiv {
    text-align: center;
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
        url(/images/gameBackground.png);
}

.mainTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainTitle>* {
    margin-right: 2rem;
    color: white;
}

.picAndDetails {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainPokeImg {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 15px;
}

.mainPokeImgBackground {
    background-color: white;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #e0e0e0;
    border-radius: 15px;
    margin: 15px;
    width: auto;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.boxTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleDiv {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

.boxHr {
    display: flex;
    justify-content: center;
    width: 100%;
}

.underLineTitle {
    width: 75%;
    height: 0.75vh;
    background-color: black;
    border-radius: 50%;
}

.height {
    background-color: rgb(255, 255, 255);
    width: 75px;
    border-radius: 15px;
    margin: 10px;
}

.weight {
    background-color: rgb(192, 192, 192);
    width: 75px;
    border-radius: 15px;
    margin: 10px;
}

.abilities {
    background-color: rgb(255, 255, 255);
    width: 150px;
    border-radius: 15px;
    margin: 10px;
}

.statsAndRelations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.stats {
    display: flex;
    background-color: black;
    width: 45%;
    border-radius: 15px;
    margin: 15px;
    align-items: center;
    
}

.relations {
    background-color: grey;
    width: 45%;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.weaknessGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;

}

.singularWeakness {
    display: flex;
    background-color: palevioletred;
    
    margin: 5px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;

    align-items: center;
    justify-content: space-evenly;
}

.singularImmune {
    display: flex;
    background-color: palegoldenrod;
    
    margin: 5px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;

    align-items: center;
    justify-content: space-evenly;
}

.singularstrongness {
    display: flex;
    background-color: palegreen;
    
    margin: 5px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;

    align-items: center;
    justify-content: space-evenly;
}

.singularNone {
    display: flex;
    background-color: papayawhip;
    
    margin: 5px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;

    align-items: center;
    justify-content: space-evenly;   
}

.relationsMult {
    background-color: white;
    width: 45px;
    border-radius: 50%;
}


.evGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.evolveTitle {
    text-align: left;
    margin-left: 5%;
    color: white;
}

.EvolutionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
    
    background: #e0e0e0;
    
    font-size: 1rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border-radius: 15px;
    transition: all 500ms;
    overflow: hidden;
    margin: 7px;
    
    height: 12rem;
    width: 20rem;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.EvolutionCard:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: rgb(168, 168, 168);
}


.imageBackground{
    background-color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;   
}

.buttonDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.name {
    text-transform: capitalize;
}

.backButton {
    cursor: pointer;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 6rem;
    height: 3rem;
    margin: 15px;
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 0.7rem;
    
    display: flex;
    
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
}

.backButton:hover {
    transition: 0.5s;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.025);
    background-color: black;
    color: white;
}
