html,
body {
  background-image: 
  linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.40)), 
  url(/pokedex/images/gameBackground.png);
  background-size: contain;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h1::first-letter {
  text-transform: capitalize;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.mainPageGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
  .mainPageGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .mainPageGrid {
    grid-template-columns: 1fr;
  }
}